input:focus {
  outline: none;
}
::placeholder {
  color: black;
  opacity: 0.9;
  font-weight: bold;
}
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-image: url(cloud1.png), url(cloud2.png),
    linear-gradient(#367cd6, #183968);
  background-position: left 20vw center, right 25vw center, center;
  background-repeat: no-repeat, no-repeat;
}
.search {
  margin: auto;
  width: 350px;
  height: 180px;
  display: flex;
  background-color: rgb(74, 144, 226);
  border-radius: 20px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}
.searchInputIcon {
  margin: auto;
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(87, 86, 86, 0.6);
}
.searchInput {
  height: 35px;
  width: 200px;
  font-size: 25px;
  margin-right: 10px;
  border: none;
  background-color: rgb(74, 144, 226);
  font-weight: bold;
}
.icon {
  color: rgb(40, 91, 158);
  font-size: 25px;
  width: 30px;
}
.weather {
  margin: auto;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(74, 145, 226, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
  color: rgb(236, 235, 235);
}
.weatherTitle {
  height: 50px;
  margin: 10px 0;
  width: 450px;
  border-bottom: 2px solid rgba(87, 86, 86, 0.6);
  color: rgb(28, 62, 107);
  display: flex;
  align-items: center;
}
.cityName {
  width: 300px;
  font-size: 30px;
  margin-left: 15px;
}
.topright {
  margin-bottom: auto;
  margin-left: auto;
  font-size: 35px;
}
.now {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}
.now-temp {
  font-size: 130px;
  margin: 10px;
}
.now-info {
  font-size: 25px;
}
.F {
  font-size: 40px;
}
.forecast {
  height: 130px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 231, 231, 0.6);
  color: black;
  width: 100%;
  margin: 0 20px;
}
.forecastDay {
  width: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.leftBorder {
  border-left: 1px solid rgba(87, 86, 86, 0.6);
}
.rightBorder {
  border-right: 1px solid rgba(87, 86, 86, 0.6);
}
.forecastDate {
  font-size: 15px;
  font-weight: bolder;
  color: rgb(100, 100, 100);
}
.forecastIcon {
  height: 50px;
  width: 50px;
}
.forecastMax {
  font-size: 20px;
  font-weight: bold;
}
